body {
  font-weight: 400;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #3c3c3c;
  margin: 0px;
  padding: 0px;
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: #3c3c3c;
  text-decoration: none;
}

/* header */
.header {
  position: relative;
  width: 100%;
  height: 48px;
  padding-top: 25px;
  font-weight: 700;
  color: #3c3c3c;
  border-bottom: 1px solid #efefef;
}

.header .logo_section {
  position: absolute;
  left: 30px;
  top: 29px;
  z-index: 5;
  width: 105px;
}

.header .logo img {
  width: 100%;
}

.header .page_title {
  position: absolute;
  left: 170px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
  line-height: 20px;
  margin-top: 3px;
  color: #b1b1b1;
}

.header .main_menu {
  position: absolute;
  right: 30px;
}

.header .main_menu ul li {
  margin: 0px 15px;
  cursor: pointer;
  display: inline-block;
}

.header .main_menu ul li .login_menu {
  border-left: 1px solid #ddd;
  padding-left: 30px;
}
