a {
    text-decoration: none;
    font-size: 15px;
}

i {
    color: #bababa;
}

img {
    position: relative;
    width: 30%;
    height: 60%;
    margin: 20px, 10px, 20px, 10px;
}

#head {
    position: fixed;
    width: 20%;
    height: 5%;
    top: 37%;
    left: 60%;
    text-align: left;
    z-index: 2;

}

.head__column a {
    position: absolute;
}

#subject {
    position: fixed;
    font-size: 50px;
    color: #000000;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    z-index: 2;
}

#menu {
    position: fixed;
    float: right;
    width: 20%;
    top: 47%;
    left: 60%;
    text-align: left;
    z-index: 2;
}

.menu_class {
    color: #bababa;
    margin: 0px 0px 0px 0px;
    line-height: 50%;
}

.menu_class:hover {
    color: #000000;
}


#footer {
    position: fixed;
    float: right;
    width: 50%;
    top: 75%;
    left: 60%;
    text-align: left;
    z-index: 2;
}

.footer_class {
    color: #bababa;
    margin: 0px 0px 0px 0px;
    line-height: 50%;
}

#content {
    position: absolute;
    float: left;
    width: 90%;
    height: 100%;
    top: 10%;
    left: 30%;
    z-index: 1;
}

.form-container {
    position: fixed;
    float: right;
    width: 20%;
    top: 47%;
    left: 60%;
    text-align: left;
    z-index: 2;
}

.form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
}

.form-container input {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 7px;
    width: 125px;
    height: 20px;

}

/*비동기 CSS*/
#login_form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
}

#login_form input {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 7px;
    width: 125px;
    height: 30px;
}