body {
    background: #f5f0f0;
}

a {
    text-decoration: none;
    color: #f77c7c;
    font-weight: 800;
}

/*헤더영역*/
.header {
    background-color: #f5f0f0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    top: 0px;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #ffcfcf;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #ffcfcf;
}

/*메뉴 영역*/
.menu {
    background-color: #f5f0f0;

}

.menu li {
    display: inline-block;
    position: relative;
    left: 85%;
    margin-left: 20px;
    color: #edf0f5;
}

/*배너 영역*/
.banner {
    background-color: #f5f0f0;
    height: 200px;
}

/*메인 영역*/
.main {
    background-color: #f5f0f0;
    height: 800px;
    text-align: center;
}

.main__column {
    width: 400px;
    height: 600px;
    margin: 10px 10px 30px 10px;
    border: 3px solid white;
    border-radius: 7px;

}

/*푸터 영역*/
.footer {
    margin: 50px 0;
    padding-top: 50px;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.footer .footer__icon {
    color: rgba(0, 0, 0, 0.2);
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
}

.footer .footer__text {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 800;
    text-align: center;
}

/*JOIN, LOGIN*/

.form-container {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
}

.form-container input {
    display: block;
    text-align: center;
    margin-left: 620px;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 7px;
    width: 250px;
    height: 40px;

}